body{
    font-family: Arial, sans-serif;
    background-color: rgb(20, 20, 20);
    color: white;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:'header header header header'
                        'aside featured featured featured'
                        'aside main main main'
                        'aside main main main';
}

header {
    grid-area: header;
}

nav {
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
}

nav h1 {
    color: #e50914;
    margin: 0;
    font-size: 3.5em;
}

h2 {
    color: #e50914;
    margin-left: 20px;
    font-size: 2em;
}

nav img {
    width: 200px;
    margin-right: 20px;
}
/* aside img {
    width: 200px;
} */

.logodiv{
    display: flex;
}

.searchdiv{
    width: 30%;
}
.searchdiv input{
    height: 2.5em;
    width: 50%;
    margin: 20px 0 20px 200px;
    background-color: rgba(109, 109, 110, 0.376);
    border: none;
    border-radius: 0.5em;
    color: white;
    padding: 20px;
}
.searchdiv input:focus{
    outline: 1.5px solid white
}

aside {
    background-color: rgba(0, 0, 0, 0.3);
    grid-area: aside;
    width: 80px;
    margin-right: 20px;
    padding: 40px;
    position: absolute;
    left : -150px;
    text-decoration: none;
    transition: 0,5s;
    z-index: 4;
    top: 80px;
}

aside:hover {
    left: 0;
    position: fixed;
}

aside li {
    list-style: none;
    font-size: 1.2em;
    margin:0 0 20px -50px;
}

aside li a {
    text-decoration: none;
    color: white;
}
aside li a:hover{
    border-bottom: 3px solid red;
}
aside li a:active {
    color: red;
}
.sidebar-content1, .sidebar-content2  {
    margin-bottom: 80px;
}

.

.logout {
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 1px solid red;
    padding: 5px;
}

.logout:hover {
    background-color: rgb(55, 53, 53);
}
.logout:active {
    background-color: rgb(111, 108, 108);
}

.featured {
    position: relative;
    height: 80vh;
    background-image: url('https://via.placeholder.com/1600x900');
    background-size: cover;
    background-position: center;
    grid-area: featured;
    margin-right: 80px;
    border-radius: 3em;
}
.featured-content {
    position: absolute;
    bottom: 50px;
    left: 50px;
}
.rating {
    display: inline-block;
    background-color: #ffa500;
    color: black;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 10px;
}

.row-title {
    font-size: 28px;
    margin-bottom: 10px;
}

/* style for infinite carousels */
main{
    width: min(1400px, 90vw);
    margin: auto;
    grid-area: main;
}
.slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    margin-bottom: 8%;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}
.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 18s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (18s / var(--quantity)) * (var(--position) - 1) )!important;
}
.slider .list .item img{
    width: 100%;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
 .slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.slider .item:hover{
    filter: grayscale(0);
    /*transform: scale(1,3);
    cursor: pointer;
    z-index: 4;*/
} 
.slider[reverse="true"] .item{
    animation: reversePlay 18s linear infinite;
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}

