.modal {
    background-image: url(../assets/images/background.jpg);
    background-position: center;
    background-size: cover; 
    position: fixed;
    z-index: 10;
    top: 5%;
    left: 15%;
    right: 15%;
    box-shadow: 0 0 20em 25em rgb(10, 10, 10);
    overflow-y: auto;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 'modal-header modal-body';
}

.close-modal {
    position: absolute;
    top: 0;
    right: 0;
}

.modal-header {
    grid-area: modal-header;
}

.video-player{
    aspect-ratio: 16 / 9;
    width: 100%;
}

.modal-descriptions {
    display: block;
    margin: 20px 0 20px 20px;
    padding: 10px 10px 10px 20px;
    background-color: rgba(2, 1, 1, 0.573);
    max-width: 900px;
}

.modal-descriptions .author {
    display: block;
    padding-bottom: 1em;
}
.modal-descriptions .author::after {
    content: '';
    display: block;
    height: 1px ;
    background: white ;
    width: 50%;
}
.title {
    margin: 0 0 10px 0;
}
.author {
    margin: 5px 0 10px 0;
}
.author ~ p {
    margin: 0;
}


/* comments */
.modal-body {
    grid-area: modal-body;
    background-color: rgba(2, 1, 1, 0.573);
    margin: 20px;
    
}

.modal-comments {
    flex-grow: 1;
    margin-bottom: 10px;
}
.modal-body > h2 {
    margin:0 0 20px 0;
}
.modal-body > form  {
    width: 100%;
    margin-bottom: 20px;
}

form > input {
    color: white;
    background-color: transparent;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    margin-bottom: 40px;
}

.comment {
    border: 1px solid white;
    border-radius: 1em;
    padding: 10px;
    margin-bottom: 10px;
}
.comment  h3 {
    margin: 10px 0;
}

.comment > p {
    margin: 0;
}

.comment .date {
    font-size: x-small;
    float: right;
}
